{% extends "template.html" %}

{% block search %} value="{{result.query}}"{% endblock search %}

{% block content %}
  <h2>
    Search results for <em>{{result.query}}</em>
  </h2>
  <div class="row">
    <div class="col-xs-12">
    {% if result.results %}
      {% for r in result.results|groupby("cat") %}
        {% if r.grouper %}
      <h3>{{r.grouper}}</h3>
        {% endif %}
      <table class="table">
        <tbody>
        {% for x in r.list %}
          <tr>
            <td style="width: 20%;">
              {{x.code}}
            </td>
            <td style="width: 80%;">
              <a href="/{{x.code}}">{{x.name}}</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endfor %}
    {% endif %}
    </div>
  </div>
{% endblock content %}

